<!DOCTYPE html>
<html>
    <head>
        <title>Barcode server</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			body {
				font-family: arial,serif;
				margin: 10px 30px;
			}
			h1 {
				border-bottom: 1px solid lightgray;
				font-weight: bold;
			}
			h4 {
				font-weight: bold;
			}
			.BarcodeExample {
				background: lightsteelblue none repeat scroll 0 0;
				margin: 10px 0;
				padding: 10px 30px;
			}

			.BarcodeExample img {
				background: white none repeat scroll 0 0;
				border-color: steelblue;
				border-style: solid;
				padding: 12px;
			}			
		</style>
    </head>
    <body>
        <H1>Barcode server</H1>
        
		<div class="BarcodeExample">
			<H4>EAN13</h4>
			<code>/ean13?value=7840058004215</code>
			<br>
			<img src="/ean13?value=7840058004215" />
        </div>
		
		<div class="BarcodeExample">
			<H4>CODE39</h4>
			<code>/code39?value=12345678</code>
			<br>
			<img src="code39?value=12345678" />       
        </div>
       
        <div class="BarcodeExample">
			<H4>CODE128</h4>
			<code>/code128?value=98380d7d-85df-456f-901d-3b325ee86e07</code>
			<br>
			<img src="code128?value=98380d7d-85df-456f-901d-3b325ee86e07" />       
		</div>
			
        <div class="BarcodeExample">
			<H4>PDF417</h4>
			<code>/pdf417?value=patricio+antonio+diaz+gimenez</code>
			<br>
			<img src="pdf417?value=patricio+antonio+diaz+gimenez" />  
		</div>
        
        <div class="BarcodeExample">
			<H4>QR</h4>
			<code>/qr?value=98380d7d-85df-456f-901d-3b325ee86e07</code>
			<br>
			<img src="qr?value=98380d7d-85df-456f-901d-3b325ee86e07" />         
		</div>
        
    </body>
</html>
